<div>{{message}}</div>

<form #addProductForm="ngForm" (ngSubmit)="addProduct(addProductForm)">
  <label>Name</label> <br>
  <input ngModel name="name" type="text" required> <br>
  <label>Price</label> <br>
  <input ngModel name="price" type="number"> <br>
  <label>Image</label> <br>
  <input ngModel name="image" type="text"> <br>
  <label>Active</label> <br>
  <input ngModel name="active" type="checkbox"> <br>
  <label>Category</label> <br>
  <input ngModel name="category" type="number"> <br>
  <button>Add</button>
</form>